[submodule "code/lib/CPP_SPM"]
	path = code/lib/CPP_SPM
	url = https://github.com/cpp-lln-lab/CPP_SPM.git
	datalad-url = https://github.com/cpp-lln-lab/CPP_SPM.git
[submodule "outputs/derivatives"]
	path = outputs/derivatives
	url = git@gin.g-node.org:/cpp_brewery/MP2RAGE_T1_layers_derivatives.git
	datalad-id = 2ca260f5-1d2b-4273-9d2f-6072d4d1945a
[submodule "inputs/bidsNighres"]
	path = inputs/bidsNighres
	url = git@gin.g-node.org:/cpp_brewery/analysis_V5_high-res_pilot_nighres.git
	datalad-id = 0168c8a1-949c-4f06-885f-0fa72925cedc
[submodule "inputs/cpp_spm-preproc"]
	path = inputs/cpp_spm-preproc
	url = git@gin.g-node.org:/marcobarilari/analysis_high-res_MP2RAGE-layers_derivatives_cpp_spm-preproc.git
	datalad-id = d39b0b30-153b-4595-936a-6771f67310f0
	datalad-url = git@gin.g-node.org:/marcobarilari/analysis_high-res_MP2RAGE-layers_derivatives_cpp_spm-preproc.git
