# styly guide (https://florianschanda.github.io/miss_hit/style_checker.html)
line_length: 300

# anything goes
regex_function_name: ".*"
regex_parameter_name: ".*"
regex_script_name: ".*"

suppress_rule: "copyright_notice"
exclude_dir: "lib"

# metric for code quality
metric "cnest": limit 6
metric "file_length": limit 500
metric "cyc": limit 15
metric "parameters": limit 5
